@{ViewData["Title"] = "Home Page";}

<br><br>
<h1>Had any good conversations with chatbots?</h1>

<br>
<h5></h5>
<br><br>
<a class="btn btn-success btn-lg  offset-8" style="text-align:center;" href="https://www.nytimes.com/2018/11/18/technology/artificial-intelligence-language.html" role="button">Will they always be lame?</a>




