@{
    ViewData["Title"] = "Meme was coined by the English biologist Richard Dawkins.";
}

<br><br>
<h1>@ViewData["Title"]</h1>

<br>
<h5>What is Meme short for?
a unit of cultural information, as a concept, belief, or practice, that is passed on from person to person in a way analogous to the transmission of genes. Word origin. short for mimeme: And both words were coined by the English biologist Richard Dawkins (1941- )</h5>
<br><br>
<a class="btn btn-success btn-lg  offset-8" style="text-align:center;" href="https://www.nytimes.com/2018/11/18/technology/artificial-intelligence-language.html" role="button">Will they always be lame?</a>


